<!-- 

	<tr>
		<td>
		<hr size="1px" color="black" width="108%"/>&nbsp;
		<font style="margin-left:100px;width:600px;font-size:25px;font-family:Times New Roman,arial,sans-serif;">
		<B><u>HP Enterprise Services INTERNAL USE ONLY</u></B></font>
		<table>
			<tr>
			<td height="16px"></td>
			</tr>
			<tr>
			<td class="tdtype">Clerk ID#:<html:text property="ClerkIDNo" maxlength="20" size="20" styleClass="textfiled-style" />
			Sent to:<html:text property="Sendto" maxlength="60" size="54" styleClass="textfiled-style" />
			Date sent:<html:text property="dateSend" maxlength="10" styleClass="dateinput4"  style="width:100px;"  
					onblur="formatDateToMM_DD_YYYY(this)" /><img src="images/dateicon.gif" style="cursor:hand;VERTICAL-ALIGN: middle;"
					onclick="showCal(document.all['dateSend'])"
					alt="Choose Date"></img> 			
			</td>
			</tr>
			<tr>
			<td height="16px"></td>
			</tr>
			<tr>
			<td class="tdtype">Reason for review:<html:text property="reasonForReview" maxlength="60" size="120" styleClass="textfiled-style" /></td>
			</tr>
			<tr>
			<td height="16px"></td>
			</tr>
			<tr>
			<td class="tdtype" >Reviewed by:<html:text property="reviewedBy" maxlength="60" size="80" styleClass="textfiled-style" />
			Date reviewed:<html:text property="dateReviewed" maxlength="10" styleClass="dateinput4"  style="width:100px;"  
					onblur="formatDateToMM_DD_YYYY(this)" /><img src="images/dateicon.gif" style="cursor:hand;VERTICAL-ALIGN: middle;"
					onclick="showCal(document.all['dateReviewed'])"
					alt="Choose Date"></img> 
			</td>
			</tr>
			<tr>
			<td height="16px"></td>
			</tr>
			<tr>
			<td class="tdtype">Outcome of review:<html:text property="outcomeOfReview" maxlength="60" size="100" styleClass="textfiled-style" />
			</td>
			</tr>
			<tr>
			<td height="16px"></td>
			</tr>
			<tr>
			<td class="tdtype">Date received back in the Adjustment Department:
			<html:text property="dateReceivedBack" maxlength="10" styleClass="dateinput4"  style="width:100px;"  
					onblur="formatDateToMM_DD_YYYY(this)" /><img src="images/dateicon.gif" style="cursor:hand;VERTICAL-ALIGN: middle;"
					onclick="showCal(document.all['dateReceivedBack'])"
					alt="Choose Date"></img> 
			</td>
			</tr>
		</table>
		</td>		
	</tr>
	
	-->